# Корреляция

In [1]:
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')
bikes = pd.read_pickle('Data/BikesDataImputed.pkl')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Normal Humidity,Temperature Category,Good Weather
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,0,Freezing,0
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,0,Freezing,0
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,0,Freezing,0
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,1,Freezing,0
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,0,Freezing,0

In [ ]:
temp_mean = bikes.groupby(bikes['Date'].dt.isocalendar().week)['Temperature'].mean()
bikes_sum = bikes.groupby(bikes['Date'].dt.isocalendar().week)['Rental Count'].sum()

In [ ]:
bikes_week = pd.concat([temp_mean, bikes_sum], axis=1)

In [ ]:
first_five = bikes_week.iloc[:5]

In [ ]:
first_five['X - Mx'] = first_five['Temperature'] - first_five['Temperature'].mean()
first_five['Y - My'] = first_five['Rental Count'] - first_five['Rental Count'].mean()

In [ ]:
first_five

In [ ]:
SSx = (first_five['X - Mx']**2).sum()
SSy = (first_five['Y - My']**2).sum()
SP = (first_five['X - Mx']*first_five['Y - My']).sum()
print(SSx, SSy, SP)

In [ ]:
r = SP / np.sqrt(SSx*SSy)
print(r)

In [ ]:
first_five['Temperature'].corr(first_five['Rental Count'])

In [ ]:
bikes_week['Temperature'].corr(bikes_week['Rental Count'])

In [ ]:
bikes_week.plot('Temperature','Rental Count', kind='scatter')

In [ ]:
bikes.corr()

In [ ]:
humidity_mean = bikes.groupby(bikes['Date'].dt.isocalendar().week)['Humidity'].mean()
wind_mean = bikes.groupby(bikes['Date'].dt.isocalendar().week)['Wind speed'].mean()

In [ ]:
bikes_week = pd.concat([bikes_week, humidity_mean, wind_mean], axis=1)

In [ ]:
bikes_week.corr()

In [ ]:
bikes_week.corr()['Rental Count']

In [ ]:
bikes_week.corr()['Rental Count'].sort_values()

In [ ]:
bikes_week.corr()['Rental Count'].apply(np.abs).sort_values()

In [ ]:
corr = bikes_week.corr()
c1 = corr.abs().unstack()
c1.sort_values(ascending = False)